<header class="fixed left-0 right-0 mx-auto w-full max-w-[2260px]">
  <div class="flex items-center justify-between p-5">
    <div>
      <a href="/" class="text-3xl font-bold">han_</a>
    </div>
    <nav>
      <ul class="flex gap-x-8 text-sm font-bold">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
